.App {
  text-align: center;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Alteracoes a partir daqui */

body {
  /* background: linear-gradient(to right, #f0e68c, #d2b48c); */
  background-image: url(./img/plano-fundo.jpg);
  margin: 0;
   /* Remova margens do corpo para cobrir toda a tela */
  height: 100vh; 
  /* min-width: 900px; */
}

.sub-titulo{
  color: rgb(207, 238, 156);
  font-weight: 500;
  font-size: large;
}

#desactive {
  font-size: 16px;
  padding:  6px 10px 6px 10px ;
  color:azure;
}
#active {
  font-size: 18px;
  padding:  6px 12px 6px 12px ;
  background-color: #212529;
  color:azure;
  /* transition: font-size 0.3s, padding 0.3s; */
}
#usuario-logado {
  padding: 10px;
}
#hovered-link {
  padding: 10px;
  color: rgb(197, 74, 74);
  border-radius: 15px;
}
#hovered-link:hover {
  padding: 10px;
  color: white;
  background-color: #212529;
}
.red{
  color:lightcoral ;
}
.green{
  color:green
}