.App {
  text-align: center;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Alteracoes a partir daqui */

body {
  /* background: linear-gradient(to right, #f0e68c, #d2b48c); */
  background-image: url(./img/plano-fundo.jpg);
  margin: 0; /* Remova margens do corpo para cobrir toda a tela */
  height: 100vh; /* Defina a altura para cobrir a viewport inteira */

}

.sub-titulo{
  color: rgb(207, 238, 156);
  font-weight: 500;
  font-size: large;
}

#escolha-festa{
  padding: 10px;
  color: rgb(207, 238, 156);
  font-weight: 300;
  font-size: x-large;
}

.divisa {
  color:antiquewhite
}


